/* Personnalisation des élements généraux du site */
*
{
    font-family: Verdana;
    text-align: justify;
}

body
{
	margin: 0px;
}

/* Header */

header
{
    width: 100%;
    height: 70px;
    background-color: rgba(0,0,0,0.8);

    display: flex;
    justify-content: space-around;
    flex-direction: row;

}
.fas
{
	color: white;
	margin-top: 15px;
	margin-right: 15px;

}

#navTitre
{
    width: auto;

	display: flex;
	justify-content: space-between;
	flex-direction: row;
}

#navBloc
{
    width: 600px;
}

nav ul
{
    display: flex;
    justify-content: space-around;
    flex-direction: row;
}
nav ul li
{
    list-style: none;
}

h1
{
    font-size: 1.1em;
    margin-top: 0px;

}
h1, li a
{
    position: relative;
    top:25%;
    color:white;
    list-style: none;
    text-decoration: none;
}
li a:hover
{
    color:cornflowerblue;
    transition-duration: 250ms;
}

/* Entête */

#entete
{
    background-image: url('ressources/home.jpg');
    width:100%;
    height: 730px;

	display: flex;
	justify-content: space-around;
}
#enteteLien
{
    width: 400px;
    height: 150px;

    position: relative;
    top: 42%;

}
#blocLien
{
	width: auto;
}
#blocLien p
{
	text-align: center;

	background-color: rgba(0,0,0,0.8);
	color: white;
	padding: 20px 0px 20px 0px;
	border-radius: 8px;
}
/*  Trick Show  */
#enteteShow
{
    background-image: url('ressources/defaultshow.jpg');
    width:100%;
    height: 730px;

	display: flex;
	justify-content: space-around;
	margin-top: 100px;
}

#sectionPrésentaton
{
    display: flex;
    justify-content: center;
}

#presentation
{
    display: flex;
    flex-direction:column;
    justify-content: center;
}

#imagePresentation
{
    background-image: url('ressources/code.png');
    height: 152px;
    width: 152px;

    position: relative;
    left: 35%;
}
#texteDeuxPresentation
{
    text-align: center;
}

#titrePresentation
{
    text-align: center;
}

/* Présentation des tricks - index */

#containerArticle
{
    background-color: rgb(247, 248, 249);

    width: 100%;
    height: auto;

    display: flex;
    justify-content: space-around;
    flex-direction: row;
	flex-wrap: wrap;

    margin-top: 20px;
    margin-bottom: 20px;
}
.contenairDiv
{
	width: 400px;
	height: 400px;

    display: flex;
    flex-direction: column;

	border: solid black 1px; /* A retirer */

	margin-top: 15px;
	margin-bottom: 15px;
}


.imageContenairPost
{
   background-image: url('ressources/defaultshow.jpg');
   background-size: cover;
   height: 300px;
   width: 100%;
}

.contenairPost
{
    margin: 0px 15px 15px 15px;
    transition-property: background-color;
    transition-duration: 1s;

    height: 250px;
    width: 100%;

    display: flex;
    justify-content: space-around;
    flex-direction: column;
}

.titre
{
    text-align: center;
	margin-bottom: 0px;
}
.contenu
{
    text-align: justify;
}
.auteur
{
    text-align: left;
    font-style: italic;
	margin-bottom: 0px;
	margin-top: 0px;
}

.lien
{
	margin-top: 0px;
    text-align: right;
}
.customLien
{
    text-decoration: none;
    list-style: none;
    color: white;
    padding: 10px 15px 15px 15px;
	margin-right: 30px;
    border-radius: 8px;
    background-color: rgba(0,0,0,0.7);
}
.customLien:hover
{
    color:cornflowerblue;
    transition-duration: 250ms;
}

textarea
{
    text-align: left;
}

/* Trick Show */
#enteteShowTrick
{
    background-image: url('ressources/defaultshow.jpg');
    width:100%;
    height: 730px;

	display: flex;
	justify-content: space-around;
}

#show
{
  display: flex;
  flex-direction: row;
  justify-content: center;

  margin-top: 50px;
  margin-bottom:: 100px;
}

#contenairShow
 {
   width: 50%;
   height: auto;

   display: flex;
   flex-direction: column;
   justify-content: space-around;
 }

 .titreShow, .texteShow
 {
   text-align: center;
 }
 .dateShow
 {
   text-align: right;
 }

 /* Index / User */
#blocLienUserHome
{
  width: auto;
  height: 100%;
}
#formHome
{
  width: 100%;
  height: 100%;
}

#home
{
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  background-color: rgba(0,0,0,0.7);
  padding: 20px 15px 20px 15px;
  border-radius: 10px;

  color: white;
}

.customDivIcon
{
    width: 125px;

    background-color: rgba(0,0,0,0.7);
    padding: 10px 5px 10px 5px;
    margin: 20px 15px 20px 15px;
    border-radius: 10px;

    position: relative;
    left: 58%;

    display: flex;
    justify-content: space-around;
    flex-direction: row;
}

.customIcon
{
  margin-bottom: 10px;
}
.customIcon:hover .fas
{
  color:cornflowerblue;
  transition-duration: 250ms;
}


/*  Account  */
#enteteAccount
{
    background-image: url('ressources/account.jpg');
    width:100%;
    height: 730px;

	display: flex;
	justify-content: space-around;
	margin-top: 100px;
}
.lienAccount
{
	list-style: none;
	text-align: center;

	margin-top: 20px;
	margin-bottom: 20px;

	padding: 10px 5px 10px 5px;
	background-color: rgba(0,0,0,0.8);
	border-radius: 8px;
}


/* Account - Login  */

.conteneurCentral
{
	display: flex;
	flex-direction: row;
	justify-content: center;
}

#conteneurFormulaire
{
	display: flex;
	flex-direction: column;
	justify-content: center;

	height: 600px;
}

#formulaireConnexion
{


    border:solid 2px rgba(0,0,0,0.7);
    border-radius:2px;

    margin-top: 125px;
	padding-left: 10px;
	padding-right: 10px;

    width:400px;
    height:350px;
    align-items: center;
}

#formulaireConnexion form
{
	height: 100%;
}


#user_login
{
	display:flex;
    flex-direction: column;
    justify-content: space-around;

	height: 100%;

}

#forgotPassword
{
	text-align: right;
}


/* Footer */
footer
{
    margin-top: 100px;
    height: 75px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: rgba(0,0,0,0.8);
    color: white;
}

footer div
{
	display:flex;
	justify-content: space-around;
	flex-direction: row;

	width: 200px;

    margin: 20px 15px 0px 15px;
}

footer div .fab
{
	color:white;
}
footer div .fab:hover
{
    color:cornflowerblue;
    transition-duration: 250ms;
}
