/* Personnalisation des élements généraux du site */
*
{
    font-family: Verdana;
    text-align: justify;
}

body
{
	margin: 0px;
}

/* Header */

header
{
    width: 100%;
    height: 70px;
    background-color: rgba(0,0,0,0.8);

    display: flex;
    justify-content: space-around;
    flex-direction: row;

}
.fas
{
	color: white;
	margin-top: 15px;
	margin-right: 15px;

}

#navTitre
{
    width: auto;

	display: flex;
	justify-content: space-between;
	flex-direction: row;
}

#navBloc
{
    width: 450px;
}

nav ul
{
    display: flex;
    justify-content: space-around;
    flex-direction: row;
}
nav ul li
{
    list-style: none;
}

#navLogin
{
    padding: 5px 10px 5px 10px;

    border: solid 1px white;
    border-radius: 5px;
}

h1
{
    font-size: 1.1em;
    margin-top: 0px;

}
h1, li a
{
    position: relative;
    top:25%;
    color:white;
    list-style: none;
    text-decoration: none;
}
li a:hover
{
    color:cornflowerblue;
    transition-duration: 250ms;
}

#navLogin:hover
{
    border: solid 1px cornflowerblue;
    transition-duration: 250ms;
}

/* Entête */

#entete
{
    background-image: url('ressources/home.jpg');
    width:100%;
    height: 730px;

	display: flex;
	justify-content: space-around;
}
#enteteLien
{
    width: 480px;
    height: 150px;

    position: relative;
    top: 42%;

}
#blocLien
{
	width: auto;
}
#blocLien p
{
	text-align: center;

	background-color: rgba(0,0,0,0.8);
	color: white;
	padding: 20px 0px 20px 0px;
	border-radius: 8px;
}
/*  Trick Show  */
#enteteShow
{
    background-image: url('ressources/defaultshow.jpg');
    width:100%;
    height: 730px;

	display: flex;
	justify-content: space-around;
	margin-top: 100px;
}

#sectionPrésentaton
{
    display: flex;
    justify-content: center;
}

#presentation
{
    display: flex;
    flex-direction:column;
    justify-content: center;
}

#imagePresentation
{
    background-image: url('ressources/code.png');
    height: 152px;
    width: 152px;

    position: relative;
    left: 35%;
}
#texteDeuxPresentation
{
    text-align: center;
}

#titrePresentation
{
    text-align: center;
}

/* Présentation des tricks - index */

#containerArticle
{
    background-color: rgb(247, 248, 249);

    width: 100%;
    height: auto;

    display: flex;
    justify-content: space-around;
    flex-direction: row;
	flex-wrap: wrap;

    margin-top: 20px;
    margin-bottom: 20px;
}
.contenairDiv
{
    display: flex;
    flex-direction: column;

	width: 400px;
    height: 400px;
    
    margin-top: 15px;
	margin-bottom: 15px;

    background-color: white;
    border-radius: 20px;
}

.contenairDiv:hover
{
    background-color: lightblue;
    transition-duration: 3000ms;
}


.imageContenairPost
{
   background-image: url('ressources/defaultshow.jpg');
   background-size: cover;
   height: 300px;
   width: 100%;
}

.contenairPost
{
    margin: 0px 15px 15px 15px;
    transition-property: background-color;
    transition-duration: 1s;

    height: 250px;
    width: 100%;

    display: flex;
    justify-content: space-around;
    flex-direction: column;
}

.titre
{
    text-align: center;
	margin-bottom: 0px;
}
.contenu
{
    text-align: justify;
}
.auteur
{
    text-align: left;
    font-style: italic;
	margin-bottom: 0px;
	margin-top: 0px;
}

.lien
{
	margin-top: 0px;
    text-align: right;
}
.customLien
{
    text-decoration: none;
    list-style: none;
    color: white;
    padding: 10px 15px 15px 15px;
	margin-right: 30px;
    border-radius: 8px;
    background-color: rgba(0,0,0,0.7);
}
.customLien:hover
{
    color:cornflowerblue;
    transition-duration: 250ms;
}

textarea
{
    text-align: left;
}

#home div label 
{
    position: relative;
    left: 35%;
}

#home_Modifier
{
    top: 14px;
}

#sectionCreateTrick
{
    width: 100%;
    height: 100px;

    display: flex;
    flex-direction: row;
    justify-content: center;
}
#divCreateTrick
{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#divCreateTrick a
{
    text-align: center;
    margin: 0px;
}

#create_trick_dateCreation_month, #create_trick_dateCreation_day, #create_trick_dateCreation_year, #create_trick_dateMiseAJour_month, #create_trick_dateMiseAJour_day, #create_trick_dateMiseAJour_year, #update_trick_dateCreation_month, #update_trick_dateCreation_day, #update_trick_dateCreation_year, #update_trick_dateMiseAJour_month, #update_trick_dateMiseAJour_day, #update_trick_dateMiseAJour_year
{
    width: 90px;
    position: relative;
    left: 55px;

    padding: 10px 10px 10px 10px;
    border-radius: 10px;

    background-color: rgba(255, 255, 255, 0.8) !important;

    text-align: center;
}

/* Trick Show */
#enteteShowTrick
{
    background-image: url('ressources/defaultshow.jpg');
    width:100%;
    height: 730px;

	display: flex;
	justify-content: space-around;
}

#show
{
  display: flex;
  flex-direction: column;
  justify-content: center;

  margin-top: 50px;
  margin-bottom:: 100px;
}

#contenairShow
 {
   width: 50%;
   height: auto;

   display: flex;
   flex-direction: column;
   justify-content: space-around;
 }

 .titreShow, .texteShow
 {
   text-align: center;
 }
 .dateShow
 {
   text-align: center;
 }

 aside 
 {
     display: flex;
     justify-content: center;
     flex-direction: row;
 }
#listComment
{
    width: 600px;
    height: auto;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

 .contenairComment
{
    height: 150px;
    width: 100%;

    display: flex;
    justify-content: center;
    flex-direction: column;

    margin: 25px 0px 25px 0px;

    background-color: aliceblue;
}
.contenairComment:hover
{
    transition-duration: 3000ms;
    background-color: white;
}
.commentPseudo
{
    margin-left: 10px;
    font-style: italic;
}
.commentTexte
{
    margin: 10px 0px 10px 10px;
}

 /* Index / User */
 #enteteUser
{
    width: 400px;
    height: 500px;

    position: relative;
    top: 15%;

    display: flex;
    justify-content: center;
    flex-direction: column;

    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 20px;
}

#formContenair
{
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    height: 75%;
}

#formTitle
{
    text-align: center;
    color: black;

    top: 0%;
}

#formContenair form
{
    height: 200px;
    margin-left: 15px;

    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

#formContenair form input, #user_register div input,  #update_user div input, #home div input, #create_trick div input, #update_trick div input
{
    width: 280px;
    position: relative;
    left: 35px;

    padding: 10px 10px 10px 10px;
    border-radius: 10px;

    background-color: rgba(255, 255, 255, 0.8) !important;

    text-align: center;
}

#create_trick_titre, #update_trick_titre
{
    left: 0px !important;
    margin-left: 10px !important;
}

#create_trick_lienVideo, #update_trick_lienVideo
{
    left: 25px !important;
}

#create_trick_lienImage, #cupdate_trick_lienImage
{
    left: 25px !important;
}

#create_trick_texte, #update_trick_texte
{
    width: 280px;
    height: 100px;
    position: relative;
    right: 15px;
    
    padding: 10px 10px 10px 10px;
    margin-top: 10px;
    border-radius: 10px;
    
    background-color: rgba(255, 255, 255, 0.8) !important;
    
}

#create_trick div label, #update_trick div label
{
    width: 20px;
}

#home div input
{
    left: 0px !important;
}


#user_register div label, #update_user div label
{
    display: none;
}

#user_login , #user_register
{
    width: auto;
    height: 300px;

    margin-left: 0px;

    display: flex;
    justify-content: space-around;
    flex-direction: column;
}

#user_login_Pseudo, #user_login_Mot_de_passe , #user_register_username , #user_register_mail , #user_register_password
{
    margin-left: 20px;
}

#enteteUser form #user_login div button, #enteteUser form #user_register div button, #create_trick div button,  #update_trick div button, #formContenair form button, #update_user button, #home div button
{
    position: relative;
    width: auto;

    background-color: rgba(255, 255, 255, 0.8);
    padding: 15px 15px 15px 15px;
    border-radius: 10px;
    border-width: 1px;
}

#enteteUser form #user_login div button, #enteteUser form #user_register div button, #create_trick div button,  #update_trick div button, #formContenair form button, #update_user button
{
    left: 33%;
}

.monCompteh1 
{
    top: -20% !important;
}
.monCompteh1v2
{
    top: -10% !important;
}

#enteteUser div ul
{
    padding-left: 0px;
}

#enteteUser div ul li, #update_user div
{
    list-style: none;
    margin-top: 35px;
    margin-bottom: 35px;
    text-align: center;
}

#update_user div input, #update_user div button
{
    left: 0%;
}


#enteteUser div ul li a
{
    color: black;
    padding: 5px 10px 5px 10px;
    text-align: center;

    border: solid 1px black;
    border-radius: 5px;
}

#formContenair form button
{
    width: 130px;
}

.lienUser 
{
    font-size: 0.8em;
    text-decoration: none;
    font-style: italic;

    color: black;
}
.lienUser:hover
{
    color:#6495ed;
    transition-duration: 250ms;
}
#lienUserRegister
{
    margin-left: 220px;

}
#lienReturnAccount
{
    margin-left: 170px;
}
#lienUserForgotPassword
{
    margin-left: 195px;
}





#blocLienUserHome
{
  width: auto;
  height: 100%;
}
#formHome
{
  width: 100%;
  height: 100%;
}

#home
{
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  width: 450px;

  background-color: rgba(0,0,0,0.7);
  padding: 20px 15px 20px 15px;
  border-radius: 10px;

  color: white;
}

.customDivIcon
{
    width: 125px;

    background-color: rgba(0,0,0,0.7);
    padding: 10px 5px 10px 5px;
    margin: 20px 15px 20px 15px;
    border-radius: 10px;

    position: relative;
    left: 58%;

    display: flex;
    justify-content: space-around;
    flex-direction: row;
}

.customIcon
{
  margin-bottom: 10px;
}
.customIcon:hover .fas
{
  color:cornflowerblue;
  transition-duration: 250ms;
}

/* User create */
#enteteCreateUser
{
    background-image: url('ressources/subscribe.jpg');
    width:100%;
    height: 730px;

	display: flex;
	justify-content: space-around;
}

/* Create Trick + update tTrick */
#enteteCreate
{
    background-image: url('ressources/create.jpg');
    width:100%;
    height: 730px;

	display: flex;
	justify-content: space-around;
}

#enteteUpdate
{
    background-image: url('ressources/update.jpg');
    width:100%;
    height: 730px;

	display: flex;
	justify-content: space-around;
}

#containerTrick
{
    width: 400px;
    height: 600px;
    position: relative;
    top: 10%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 20px;
}
.contenairTrickForm, .contenairTrickForm form
{
    height: 100%;
}
.contenairTrickForm form
{
    display: flex;
    justify-content: center;
    flex-direction: column;
}
#create_trick, #update_trick
{
    height: 90%;

    display: flex;
    justify-content: space-around;
    flex-direction: column;
}
#create_trick div, #update_trick div
{
    margin-left: 25px;
}
#create_trick_titre, #create_trick_lienVideo, #create_trick_lienImage, #create_trick_texte, #create_trick_dateCreation, #create_trick_dateMiseAJour, #update_trick_titre, #update_trick_lienVideo, #update_trick_lienImage, #update_trick_texte, #update_trick_dateCreation, #update_trick_dateMiseAJour
{
    margin-left: 20px;
}



/*  Account  */
#enteteAccount
{
    background-image: url('ressources/account.jpg');
    width:100%;
    height: 730px;

	display: flex;
	justify-content: space-around;
}
.lienAccount
{
	list-style: none;
	text-align: center;

	margin-top: 20px;
	margin-bottom: 20px;

	padding: 10px 5px 10px 5px;
	background-color: rgba(0,0,0,0.8);
	border-radius: 8px;
}


/* Account - Login  */

.conteneurCentral
{
	display: flex;
	flex-direction: row;
	justify-content: center;
}

#conteneurFormulaire
{
	display: flex;
	flex-direction: column;
	justify-content: center;

	height: 600px;
}

#formulaireConnexion
{


    border:solid 2px rgba(0,0,0,0.7);
    border-radius:2px;

    margin-top: 125px;
	padding-left: 10px;
	padding-right: 10px;

    width:400px;
    height:350px;
    align-items: center;
}

#formulaireConnexion form
{
	height: 100%;
}

/*
#user_login
{
	display:flex;
    flex-direction: column;
    justify-content: space-around;

	height: 100%;

}
*/

#forgotPassword
{
	text-align: right;
}


/* Footer */
footer
{
    height: 75px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: rgba(0,0,0,0.8);
    color: white;
}

footer div
{
	display:flex;
	justify-content: space-around;
	flex-direction: row;

	width: 200px;

    margin: 20px 15px 0px 15px;
}

footer div .fab
{
	color:white;
}
footer div .fab:hover
{
    color:cornflowerblue;
    transition-duration: 250ms;
}

/* Flèche vers le haut */
#flecheHaute
{
    position: relative;
    left: 93%;
    color: black;

    background-color: #6495ed;
    opacity: 0.8;
    padding: 15px 15px 15px 15px;
    border-radius: 10px;
    border-width: 1px;

    margin-bottom: 10px;
}

/* Flèche vers le bas */
#flecheBasse
{
    position: relative;
    left: 93%;
    bottom: 75px;
    color: black;

    background-color: #6495ed;
    opacity: 0.8;
    padding: 15px 15px 15px 15px;
    border-radius: 10px;
    border-width: 1px;

    margin-bottom: 10px;
}


/* Mediaqueries */

@media screen and (min-width: 721px) and (max-width: 1024px) {

    #entete, #enteteShowTrick, #enteteAccount, #enteteCreateUser
    {
        background-size: cover;
    }

    #icon
    {
        display: none;
    }


  }

@media screen and (min-width: 550px) and (max-width: 720px) {

    #entete, #enteteShowTrick, #enteteAccount, #enteteCreateUser
    {
        background-size: cover;
    }

    #icon
    {
        display: none;
    }

    header
    {
        height: 100px;
        flex-direction: column;
    }
    
    #navTitre
    {
        justify-content: center;
    }
    #navBloc
    {
        width: 100%;
    }
}

@media screen and (min-width: 380px) and (max-width: 549px) {

    #entete, #enteteShowTrick, #enteteAccount, #enteteCreateUser
    {
        background-size: cover;
    }

    #icon
    {
        display: none;
    }

    header
    {
        height: 100px;
        flex-direction: column;
    }
    
    #navTitre
    {
        justify-content: center;
    }
    #navBloc
    {
        width: 100%;
    }

    #home
    {
        width: auto;
        flex-direction: column;
    }

    #home div 
    {
        display: flex;
        justify-content: center;
    }

    #home div label
    {
        display: none;
    }

    #navBloc nav ul 
    {
        padding-left: 0px;
    }
    .contenairPost
    {
        margin: 0px 0px 15px 0px;
    }
    .contenu, .auteur
    {
        padding-left: 10px;
    }

    
}

@media screen and (max-width: 379px) {

    #entete, #enteteShowTrick, #enteteAccount, #enteteCreateUser
    {
        background-size: cover;
    }

    #icon
    {
        display: none;
    }

    header
    {
        height: 100px;
        flex-direction: column;
    }
    
    #navTitre
    {
        justify-content: center;
    }
    #navBloc
    {
        width: 100%;
    }

    #home
    {
        width: auto;
        flex-direction: column;
    }

    #home div 
    {
        display: flex;
        justify-content: center;
    }

    #home div label
    {
        display: none;
    }

    #navBloc nav ul 
    {
        padding-left: 0px;
    }
    .contenairPost
    {
        margin: 0px 0px 15px 0px;
    }
    .contenu, .auteur
    {
        padding-left: 10px;
    }

    .customDivIcon
    {
        left: 50%;
    }

    #update_trick div, #create_trick div
    {
        margin-left: 0px;
    }
    #update_trick_lienVideo, #update_trick_lienImage,  #create_trick_lienVideo, #create_trick_lienImage
    {
        margin-left: 0px;
    }
}