{% extends 'base.html.twig' %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<section>
    <div id="entete">
        <div id="enteteLien">
            <div id="blocLien">
                <p> La référence française du snowboard!</p>
            </div>
        </div>
    </div>  
</section>

<!-- Boucle à mettre en place ici -->

<section>
	<div id="containerArticle">
        <div class="contenairDiv">
            <div class="imageContenairPost">
				<p> Position de la future image </p>
			</div>

			<article class="contenairPost">
                <h4 class="titre">Exemple de titre</h4>
				<p class="contenu"> Div qui sera duppliqué </p>
                <p class="contenu"> Exemple de contenu </p>
                <p class="auteur"> Exemple d'auteur </p>
                <p class="lien"><a class="customLien" href='#'>Lire la suite</a></p>
            </article>        
        </div>
    </div>
</section>

<!-- Fin de boucle à mettre en place ici -->


{% endblock %}
