{% extends 'base.html.twig' %}

{% block body %}

<section>
  <div id="enteteUpdate">
      <div id="containerTrick">
        <div class="contenairTrickForm">
          {{ form(form)}}
      </div>
    </div>
  </div>
</section> 

{% endblock %}
