{% extends 'base.html.twig' %}

{% block body %}
<section>
    <div id="enteteAccount">
        <div id="enteteLien">
			<ul>
				<li class="lienAccount"> <a href="/account/login"> Se connecter </a> </li>
				<li class="lienAccount"> <a href="/account/register"> Créer un compte </a></li>
			</ul>
        </div>
    </div>  
</section>

{% endblock %}
