{% extends 'base.html.twig' %}

{% block body %}

<section>
    <div id="enteteAccount">
        <div id="enteteUser">

            {{ form(form) }}
			<a class="lienUser" id="lienUserRegister" href="/account/register"> Crée un compte? </a> 
            <a class="lienUser" id="lienUserForgotPassword" href="/account/register"> Mot de passe oublié? </a> 

        </div>
    </div>  
</section>

{% endblock %}
