{% extends 'base.html.twig' %}

{% block body %}

<section>
    <div id="enteteAccount">
        <div id="enteteUser">
            <h1 id="formTitle" class="monCompteh1">Mon compte</h1>

            <div>
                <ul>
                   	<li> <a href="{{ path('user.update') }}"> Mettre à jour mes données </a> </li>
                   	<li> <a href="{{ path('app_logout') }}"> Me déconnecter </a></li>
                   	<li> <a id="navLogin" href="{{ path('user.delete') }}"> Supprimer mon compte </a></li>
                </ul>
            </div>
        </div>
    </div>  
</section>

{% endblock %}
