{% extends 'base.html.twig' %}

{% block body %}



<div class="conteneurCentral">
	<section id="conteneurFormulaire">
		<h4> Se connecter à son compte </h4>
		<div id="formulaireConnexion">
		
			{{ form(form) }}
		
		</div>
		<a id="forgotPassword" href="##"> <p> Mot de passe oublié? </p> </a>
	</section>
</div>

{% endblock %}
