{% extends 'base.html.twig' %}

{% block body %}

<section>
    <div id="enteteAccount">
        <div id="enteteUser">

            {{ form(form) }}
            <a class="lienUser" id="lienReturnAccount" href="/account/"> Revenir à la page de connexion </a> 

        </div>
    </div>  
</section>

{% endblock %}
