{% extends 'base.html.twig' %}

{% block body %}

<section>
    <div id="enteteCreateUser">
        <div id="enteteUser">
            <h1 id="formTitle">Créer un compte</h1>

            {{ form(form) }}
            
            <a class="lienUser" id="lienReturnAccount" href="/account/"> Revenir à la page de connexion </a> 
        </div>
    </div>  
</section>

{% endblock %}
