{% extends 'base.html.twig' %}

{% block body %}
<section>
    <div id="enteteShowTrick"></div>
</section>
<section id="show">
  <div id="containerShow">
    <div class="contenairDivShow">
      <div>
        {{ form(form) }}
    </div>
    </div>
  </div>
</section>

{% endblock %}
